<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="{{ description }}"
    />
    <link rel="canonical" href="{{ canonical }}" />
    <link rel="alternate" hreflang="pl" href="https://michalkulbacki.com/" />
    <link rel="alternate" hreflang="en" href="https://michalkulbacki.com/en/" />
    <link rel="alternate" hreflang="x-default" href="https://michalkulbacki.com/" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>Michał Kulbacki</title>
    <link rel="stylesheet" href="/static/fonts/main.css" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <script defer src="https://cloud.umami.is/script.js" data-website-id="fd775494-a572-4814-80f4-eea159799f70" data-domains="michalkulbacki.com"></script>
    <script defer src="/static/js/link-clicks.js"></script>
    {% include "analytics.njk" %}
  </head>
  <body>
{{ content | safe }}
  </body>
</html>
