@media (prefers-color-scheme: dark) {
    body {
      background-color: #151515;
      color: #9e9e9e;
    }
    :root {
      --active-brightness: 0.85;
      --border-radius: 5px;
      --box-shadow: 2px 2px 10px;
      --color-accent: #4fb0c615;
      --color-bg: #151515;
      --color-bg-secondary: #1f1e1e;
      --color-link: #4fb0c6;
      --color-secondary: #920de9;
      --color-secondary-accent: #920de90b;
      --color-shadow: #1d1c1c;
      --color-table: #4fb0c6;
      --color-text: #9e9e9e;
      --color-text-secondary: #868585;
      --font-family: "LMRoman", sans-serif;
      --hover-brightness: 1.2;
      --justify-important: left;
      --justify-normal: left;
      --line-height: 1.5;
      --width-card: 285px;
      --width-card-medium: 460px;
      --width-card-wide: 800px;
      --width-content: 1080px;
    }
    input {
      background-color: #1f1e1e;
      color: #9e9e9e;
    }
  }
  @media (prefers-color-scheme: light) {
    :root {
      --active-brightness: 0.85;
      --border-radius: 5px;
      --box-shadow: 2px 2px 10px;
      --color-accent: #118bee15;
      --color-bg: #fff;
      --color-bg-secondary: #e9e9e9;
      --color-link: #118bee;
      --color-secondary: #920de9;
      --color-secondary-accent: #920de90b;
      --color-shadow: #f4f4f4;
      --color-table: #118bee;
      --color-text: #000;
      --color-text-secondary: #999;
      --font-family: "LMRoman", sans-serif;
      --hover-brightness: 1.2;
      --justify-important: center;
      --justify-normal: left;
      --line-height: 1.5;
      --width-card: 285px;
      --width-card-medium: 460px;
      --width-card-wide: 800px;
      --width-content: 1080px;
    }
  }
  